#include "../Release.xcconfig"

// 한세시큐리티 Release Flavor 설정
FLUTTER_APP_NAME = 한세시큐리티
FLUTTER_GAETONG_CODE = 62083651
PRODUCT_BUNDLE_IDENTIFIER = com.neo.hansesecurity
PRODUCT_NAME = 한세시큐리티

// App Store 업로드 설정
CODE_SIGN_STYLE = Manual
CODE_SIGN_IDENTITY = iPhone Distribution
PROVISIONING_PROFILE_SPECIFIER = Hanse App Store

// Release 최적화 설정
SWIFT_COMPILATION_MODE = wholemodule
SWIFT_OPTIMIZATION_LEVEL = -O