#include "../Release.xcconfig"

// 포콤방범시스템 Release Flavor 설정
FLUTTER_APP_NAME = 포콤방범시스템
FLUTTER_GAETONG_CODE = 02111112
PRODUCT_BUNDLE_IDENTIFIER = com.neo.pocom
PRODUCT_NAME = 포콤방범시스템

// App Store 업로드 설정
CODE_SIGN_STYLE = Manual
CODE_SIGN_IDENTITY = iPhone Distribution
PROVISIONING_PROFILE_SPECIFIER = Pocom App Store

// Release 최적화 설정
SWIFT_COMPILATION_MODE = wholemodule
SWIFT_OPTIMIZATION_LEVEL = -O